 .langs {
  color:black;
  font-family:'Montserrat';
  font-size:19px;
  font-weight: 400;
  animation: floatText linear 25s  infinite;

  scroll-behavior: smooth;
  text-overflow: hidden;
  min-width: fit-content;
  margin:'2px 5px';
  width: -webkit-fill-available;

  

}


 .langs:hover  {
  animation-play-state:paused;

  color:red;

    
}


@keyframes floatText {
 0%{
   transform: translateX(100%);
   
 }

 100%{
   transform: translateX(-100%);

 }
 
 
  
}